@page "/"
@using RouteMerger.Blazor.Components.Pages.Map

<PageTitle>Home</PageTitle>

<h1>Route Merger</h1>

Upload your route files here. The application will merge them into a single file. You can then download the merged file.

<RouteMerger.Blazor.Components.Pages.Route.Index />